In [1]:
!curl https://github.com/hoolagans/STT180_Public.git

<html>
<head><title>301 Moved Permanently</title></head>
<body>
<center><h1>301 Moved Permanently</h1></center>
<hr><center>nginx</center>
</body>
</html>

In [2]:
!get clone https://github.com/hoolagans/STT180_Public.git

/usr/bin/bash: line 1: get: command not found

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
feb=pd.read_csv("fin_february.csv")

In [5]:
feb.head()

,Date,Unnamed: 1,Amount,Account,Category,Date.1,Stream,Amount.1,Account.1,Unnamed: 9,...,Totals,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Budget,Unnamed: 22,Unnamed: 23,Unnamed: 24,Actual
0,1/1/2025,Daves Hot Chicken,$14.09,CHASE,WASTE,2/1/2025,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Reighn 7-11,$3.59,CHASE,WASTE,2/1/2025,Coin Return,$19.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Crud Cash L,$10.75,CHASE,WASTE,2/1/2025,Playtos Closet,$12.00,NaN,NaN,...,1/1/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Indian Food,$17.76,CHASE,WASTE,NaN,GH,NaN,NaN,NaN,...,LMCU MAX,$0.00,NaN,"$1,996.96",NaN,WASTE,$200.00,NaN,"$2,405.00",NaN
4,NaN,Sree Saffron,$3.17,CHASE,WASTE,NaN,NaN,NaN,NaN,NaN,...,LMCU Debit,$11.85,NaN,NaN,NaN,SELF INVESTMENT,$400.00,NaN,NaN,NaN

In [9]:

# total=feb["Amount"]
# newint=int(total)

In [13]:
# print(sum(total))

In [12]:
type(total)

stringcon=.astype(str)

pandas.core.series.Series