In [72]:
#import modules
import random
import numpy as np
import pandas as pd

In [73]:
#series
series=[1,2,3,4,5]

teams=["lakers","mavs","celtics","knicks","warriors"]

In [2]:
import pandas as pd

data = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(data)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [75]:
value=data.index[2]
print(value)

ten=data[0]
print(ten)

c
10

/tmp/ipykernel_1442440/3091583049.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ten=data[0]

In [1]:
#access token

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

SyntaxError: invalid syntax (33046662.py, line 1)

In [6]:
#Day 6 Object oriented programming

class Car:
    def __init__(self, brand, model):
        self.brand = brand  # Attribute
        self.model = model  # Attribute

    def display_info(self):  # Method
        print(f"This car is a {self.brand} {self.model}.")


# Creating an object (instance)
car1 = Car("Toyota", "Corolla")
car1.display_info()  # Output: This car is a Toyota Corolla.

This car is a Toyota Corolla.

In [17]:
car1.display_info()
print(type(md))

#update the code so that it asks for input and then changes the output accordingly.

This car is a Toyota Corolla.
<class 'NoneType'>

In [18]:
#Folks assigned a variable to the object cars. I can call the method display info from thee. 
car300=Car("BMW","x3")

car300.display_info()

This car is a BMW x3.

In [1]:
#Day 7 Object-oriented programming. Inheritance

import numpy as np
import random 
import pandas as pd

In [49]:
#define a class

class pokemon(object):
        def __init__(self, name, type):
            self.name = name  # Attribute
            self.type = type # Attribute

        def display_info(self):  # Method
            print(f"{self.name} is a {self.type} type")

In [50]:
charzardms=["ember","scratch","growl","flamethrower"]
charzard=pokemon("charzard","fire")
# charzard=pokemon()
charzard.display_info()

charzard is a fire type

In [51]:
abra=pokemon("abra","psychic")

abra.display_info()

abra is a psychic type

In [3]:
class Stats:
    def __init__(self, health, attack, defense):
        self.health = health #attribute
        self.attack = attack
        self.defense = defense

    def display_stats(self):
        print(f"Health: {self.health}, Attack: {self.attack}, Defense: {self.defense}")


class Pokemon:
    def __init__(self, name, type, health, attack, defense):
        self.name = name
        self.type = type
        self.stats = Stats(health, attack, defense)  # Composition: Pokemon has-a Stats

    def display_info(self):
        print(f"{self.name} is a {self.type} type")
        self.stats.display_stats()  # Call method of Stats through the pokemon instance


# Creating a Pokemon object
charzard = Pokemon("Charizard", "Fire", 78, 84, 78)


charzard.display_info()

Charizard is a Fire type
Health: 78, Attack: 84, Defense: 78

In [4]:
dido=Pokemon("dido","normal",61,72,81)

dido.display_info()

dido is a normal type
Health: 61, Attack: 72, Defense: 81

In [5]:
#class assignment
class trig:
    def __init__(self, xco,yco):
        self.xco=xco #attribute
        self.yco=yco #attribute
 #method
    def pyth(self):
        m=self.xco**2+self.yco**2
        n=m**(1/2)
        print(n)

In [6]:
stat=Stats(100,91,84)

stat.display_stats()

Health: 100, Attack: 91, Defense: 84

In [7]:
tri=trig(2,4)

tri.pyth()

triangle=trig(4,10)

triangle.pyth()
# print(a)

4.47213595499958
10.770329614269007

In [4]:
class car(object):
    def __init__(self, make,model):
        self.make=make
        self.model=model
    def display(self):
        print(self.make,self.model)
c="carolla"
t="toyota"
car1=car(t,c)


car1.display()
car2=car("BMW","i8")

car2.display()

toyota carolla
BMW i8

In [8]:
car3=car("tesla","model3")

car3.display()

BMW i8

In [6]:
import pandas as pd
dates = pd.date_range("2025-01-31", periods=22)

print(dates)

DatetimeIndex(['2025-01-31', '2025-02-01', '2025-02-02', '2025-02-03',
               '2025-02-04', '2025-02-05', '2025-02-06', '2025-02-07',
               '2025-02-08', '2025-02-09', '2025-02-10', '2025-02-11',
               '2025-02-12', '2025-02-13', '2025-02-14', '2025-02-15',
               '2025-02-16', '2025-02-17', '2025-02-18', '2025-02-19',
               '2025-02-20', '2025-02-21'],
              dtype='datetime64[ns]', freq='D')

In [9]:
car2.upper()

AttributeError: 'car' object has no attribute 'upper'

In [1]:
!pwd

/home/lukemman/CMSE202/Pre-Class

In [1]:
!curl https://raw.githubusercontent.com/wrobstory/vincent/master/examples/data/US_Unemployment_Oct2012.csv

State,Unemployment
AL,7.1
AK,6.8
AZ,8.1
AR,7.2
CA,10.1
CO,7.7
CT,8.4
DE,7.1
FL,8.2
GA,8.8
HI,5.4
ID,6.6
IL,8.8
IN,8.4
IA,5.1
KS,5.6
KY,8.1
LA,5.9
ME,7.2
MD,6.8
MA,6.7
MI,9.1
MN,5.6
MS,9.1
MO,6.7
MT,5.8
NE,3.9
NV,10.3
NH,5.7
NJ,9.6
NM,6.8
NY,8.4
NC,9.4
ND,3.2
OH,6.9
OK,5.2
OR,8.5
PA,8
RI,10.1
SC,8.8
SD,4.4
TN,7.8
TX,6.4
UT,5.5
VT,5
VA,5.8
WA,7.8
WV,7.5
WI,6.8
WY,5.1